---
layout: default
title: Joint HEP-TH
---

<div id="home">
  <h2> 
    Here is a list of past events.
  </h2>
  <ul class="posts">
    {% for post in site.posts %}
      <li> <span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
    
    <details>
      <summary> 2022 </summary>
      {% for post in site.posts %}
        {% capture year %}{{post.date | date: "%Y"}}{% endcapture %}
        {% if year == "2022" %}
        <li> <span>{{ post.date | date: '%B %d, %Y' }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
        <!--
        <li> <span>{{ post.date | date_to_string: "ordinal", "US" }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
      -->
        {% endif %}
      {% endfor %}
    </details>

  </ul>

  <!--
  <h1>Upcoming</h1>
  <ul class="posts">
    <li><span>02 Sep 2013</span> &raquo; <a href="https://www.wired.com/2013/09/github-for-anything/">Article: WIRED - GitHub Is Going Mainstream</a></li>
    <li><span>09 Nov 2011</span> &raquo; <a href="http://vimeo.com/39016099">Video: RubyConf Argentina - Optimizing For Happiness</a></li>
    <li><span>01 Oct 2011</span> &raquo; <a href="http://confreaks.com/videos/712-rubyconf2011-github-flavored-ruby">Video: RubyConf - GitHub Flavored Ruby</a></li>
    <li><span>23 Nov 2010</span> &raquo; <a href="http://vimeo.com/17118008">Video: Erlang Factory - Mastering Git Basics</a></li>
  </ul>
 -->  
  
</div>
